* {
    box-sizing: border-box;
}
body {
    width: 100%;
    display: block;
    padding: 0;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1239px) {
    .row {
        width: 984px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .row {
        width: 644px;
    }
}